//Элемент(тег) компонента

//:host{
//  background: red;
//}

//если найдет body то применит стиль

//:host-context(body) h1{
//  background: blue;
//}

//Обратится к параграфам во вложенных компонентах и в этом компоненте

//:host /deep/ p{
// color: yellow;
//}

.done{
  text-decoration: line-through;
}
.tasklist-container{
  max-width: 600px;
  padding: 20px 40px;
  background: #e9e9e9;
  border: 1px solid #221e1f;
  margin: 20px auto;
  border-radius: 5px;
}
.title{
  text-align: center;
  color: #56F9DA;
  text-transform: uppercase;
  font-style: italic;
}
