<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="/hello2" routerLinkActive="active">Hello world list</a>
    <a routerLink="/list2" routerLinkActive="active">Second list</a>
    <a routerLink="/list3" routerLinkActive="active">Counter list</a>
    <a routerLink="/list4" routerLinkActive="active">Output</a>
    <a routerLink="/interpolation" routerLinkActive="active">interpolation</a>
    <a routerLink="/attrBind" routerLinkActive="active">attrBind</a>
    <a routerLink="/bidirectional" routerLinkActive="active">bidirectional</a>
  </nav>
  <router-outlet></router-outlet>
</div>

